body {
  background-color: whitesmoke;
}
.App {
  text-align: center;
  margin: auto;
  padding: 80px;
  /* border: yellowgreen dashed 2px; */
  width: 800px;
  height: fit-content;
  background-color: aliceblue;
}
.logo-cont {
  text-align: left;
  margin-left: 20px;
  padding-left: 10px;
  color: blueviolet;
}
.navBar {
  margin-top: 10px;
  padding: 20px;
  width: 800px;
  background: linear-gradient(45deg, white, #7a00ff, white);
  border-bottom: 2px solid white;
  border-radius: 5px;
  /* border: 2px dashed red; */
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: large;
  text-transform: uppercase;
  padding: 0.6em 2em;
  border: none;
  margin-left: 10px;
  outline: none;
  color: rgb(255, 255, 255);
  /* background: linear-gradient(45deg, white, #7a00ff, white); */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(45deg, white, #7a00ff, white); */
  left: 0;
  top: 0;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  /* box-shadow: inset 0 0 0 0 olivedrab;
  color: rgb(9, 75, 133);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out; */
}
.subTitle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  /* border: orange 2px dashed; */
  margin-right: 10px;
}
